* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
body {
  background-color: #efefef;
}

/* ///////////////navbar css start//////////// */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1876f2;
  padding: 5px 2%;
  /* border: 2px solid red; */
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  width: 150px;
  margin-right: 5px;
  font-size: 40px;
  color: #efefef;
}
.icon {
  font-size: 33px;
  margin: 5px 10px;
  color: #efefef;
  cursor: pointer;
}
.logotext {
  font-size: 25px;
}
.navleft ul {
  list-style: none;
  display: flex;
}
.navright{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-box {
  display: flex;
  border-radius: 20px;
  width: 250px;
  background: #efefef;
}
.search-box input {
  width: 250px;
  border-radius: 20px;
  border: none;
  background: #efefef;
}
.search-icon {
  font-size: 30px;
  margin: 2px 5px;
  cursor: pointer;
  color: #1876f2;
}
.user-icon {
  margin-left: 10px ;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}
.online{
  position: relative;
}
.online::after{
  content: '';
  width: 7px;
  height: 7px;
  border: 2px soild #fff;
  border-radius: 50%;
  background: #41db41;
  position: absolute;
}
/* ///////////////navbar css end/////////// */

.container{
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}
.leftbar, .rightbar{
  /* background: #cdcdcd; */
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  /* height: 100vh; */
}
.main-content{
  flex-basis: 47%;
  
}
/* .rightbar{
  background: #cdcdcd;
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  height: 100vh;
} */
.imp-links a{
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #625626;
  margin-bottom: 30px;
  width: fit-content;
  font-size: 1.2rem;
}
.imp-links a:last-child{
  color: #1876f2;
}
.imp-links-icon{
  font-size: 1.8rem;
  width: 25px;
  margin-right: 14px;
}
.imp-links{
  border-bottom: 1px solid #ccc;
}